/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "lexend";
    src: url(/Lexend.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'lexend';
}

body:has(#page-404) {
    width: 100svw;
    height: 100svh;

    display: grid;
    grid-template-rows: auto 1fr;
}